name: Rust

on: [pull_request, push]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  native:
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Windows x86_64
            os: windows-2025
            cmake-args:
          - name: Windows aarch64
            os: windows-11-arm
            cmake-args:
          - name: Linux x86_64
            os: ubuntu-24.04
            cmake-args:
          - name: Linux aarch64
            os: ubuntu-24.04-arm
            cmake-args:
          - name: macOS universal
            os: macos-15
            cmake-args:

    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5

      - name: Make GCC 14 the default toolchain (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 200
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-14 200

      - name: Set up sccache
        uses: mozilla-actions/sccache-action@v0.0.9
        # sccache doesn't work with MSBuild
        if: runner.os != 'Windows'

      - run: cargo build
        env:
          RUSTC_WRAPPER: sccache
          SCCACHE_GHA_ENABLED: true
